.header{
    width:auto;
    background-color:pink;
    height: 100px;
}
.header_title{
    margin:auto;
    text-align: center;
    font-size: 38px;
    position: relative;
    top:15px;
    color: black;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}

.current_task_title{
    font-weight: bold;
    font-size: 25px;
}


.home-title {
    position: absolute;
    height: 36px;
    margin-left: 206px;
    margin-right: 106px;
    margin-top:70px;
    float:left;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}

.card_title{
    position: relative;
    width: 430px;
    height: 140px;
    left: 8px;
    top: 161px;
    border: 2px solid;

    cursor: pointer;
}

.New_task_title{
    background-color:lightgray;

}

.new_task_form{
    position: relative;
    left:36px;
    top:10px;
    white-space: nowrap
}

.new_task_form input{
    width: 100px;
}
.new_task_form＿limit{
    position: relative;
    left:36px;
    top:10px;
    white-space: nowrap 
}
.new_task_form＿limit input{
    position: relative;
    width: 100px;
    left:16px;
    top:0px;
    white-space: nowrap 
}

.Add_new_task{
   background-color: white;
   position: relative;
   top:20px;
   width:100px;
   left:70px;
}

.header-new-task-add-menu{
  font-size:20px;
  position: relative;
  top: -20px;
  left:663px;
}
.header-new-task-add-menu button{
  font-size: 30px;

}

.header-new-task-add-menu button{
    background-color:lightgray;
    color: black;
    top:5px;
    width:230px;
    height:50px;
    white-space: nowrap;
    position: relative;
    left:46px;
}
.header-new-task-login{
    font-size:20px;
    position: relative;
    top: -60px;
    left:663px;
}

.header-new-task-login button{
    font-size: 30px;
    background-color:lightgray;
    color: black;
    top:-25px;
    width:180px;
    height:50px;
    white-space: nowrap;
    position: relative;
    left:986px;
}
.header-new-task-login1{
    font-size:20px;
    position: relative;
    top: -60px;
    left:663px;
}

.header-new-task-login1 button{
    font-size: 30px;
    background-color:lightgray;
    color: black;
    top:20px;
    width:180px;
    height:50px;
    white-space: nowrap;
    position: relative;
    left:986px;
}

.wrap{
    position: relative;
    width: auto;
    height: 6820px;
    background-image: url(rabbit.jpg);
    cursor: pointer;
}
.wrap1_new_task_add{
    position: relative;
    width: auto;
    height: 1360px;
    background-image: url(rabbit.jpg);
    cursor: pointer;
}





.TODOlist-detail{
    position: relative;
    top:40px;
}
.TODOlist-detail table{
    vertical-align: center;
    width:1000px;
    position: relative;
    top:-100px;
    margin: auto;
    left:30px;
}

.TODOlist-detail h{
    color:blue;
}

.TODOlist-detail th{
   font-size: 30px;
   background-color:lightblue;
   width:120px;
   vertical-align: center;
   height:70px;
}

.TODOlist-detail tr{
    font-size: 30px;
    background-color:yellow;
    text-align: center;
 }


 .TODOlist-detail td{
    width:600px;
    vertical-align: center;
 }

.current_task_title{
    background-color:lightgray;
}

.task_list_title{
    position: relative;
    left:0px;
    top:120px;
    white-space: nowrap;
  
}
.current_user_information{
    text-align: center;
    color:white;
    font-size: 38px;
}


.task_list_title li{
    position: relative;
    font-size: 38px;
    white-space: nowrap;
    text-align: center;
    color: black;
    text-decoration: none;
}



.task_list_title button{
    position: relative;
    font-size: 34px;
    top:-60px;
    left:1200px;
}

.container_show h1{
    font-size: 20px;
    top:20px;
    position: relative;
    left:20px;

}

.container_show h2{
    font-size: 30px;
    top:40px;
    position: relative;
    left:65px;
    color: black;
}



.header-menu{
    font-size: 30px;
    
}

.New_add-task_title{
   font-size: 30px;
   position: relative;
   top:20px;
   left:40px;
}

.todo-list-back-menu-button button{
    position: relative;
    top:-180px;
    left:0px;
    background-color:lightgray;
    color: black;
}


.todo-list-back-menu-button a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    color: black;
    top:0px;
    width:180px;
    height:50px;
    white-space: nowrap;
    position: relative;
}

.add-new-task-input-area{
    position: relative;
    top:100px;
    left: 26px;
}


.add-new-task-input-area input{
    width:1000px;  
    height:50px;
    margin: auto;
    position: relative;
    left:350px;
    font-size: 34px;;
}

.add-new-task-input-area textarea{
    width:1000px;  
    height:200px;
    margin: auto;
    position: relative;
    left:350px;
    font-size: 34px;;
}

.Add-new-task-button{
    height:50px;
    background-color: white;
    font-size: 20px;
    color:gray;
}

.error{
    color:red;
}


.task_list_title_deadline-comment {
    display: flex;
}

.table-default_task_detail tr{
   border: 1px solid;
}

.task-comment h2{
    position: relative;
    top:150px;
    color:blue;
    left:10px;
}
.task-comment ul{
    width:665px;
    height: 140px;

    position: relative;
    top:160px;
    left:0px;
}
.task-comment form{
    position: relative;
    top:160px;
    left:0px;
}

.task-comment button{
    text-decoration: none;
    position: relative;
    top:-25px;
    left:190px;
}
.task-comment a{
    text-decoration: none;
    color: black;
}
footer{
    width:auto;
    background-color: pink;
    height: 100px;
    margin-top:-40px;
    margin-bottom: 0px;
}

.copyright{
    text-align:center;
    font-size: 38px;
    position: relative;
    top:15px;
    color:white;
}
.wrap{
    overflow: hidden;
}
.task-detailed_title_wrap{
    background-color: lightgray;
    height:1400px;
}

.task-detailed_title h2{
  text-align: center;
  color: white;
  font-size: 34px;
  position: relative;
  top:-100px;
}

@media screen and (max-width:640px) {

.header_title{
    font-size: 26px;
    position: relative;
    top:25px;
}
.TODOlist p{
    color:black;
    font-size: 18px;
}
.task_list_title li{
    font-size: 18px;
    position: relative;
    left:-90px;
}
.task_list_title button{
position: relative;
font-size: 18px;
top:-32px;
left:200px;
}
.copyright p{
    font-size: 18px;
    top:15px;
    position: relative;
}
.todo-list-back-menu-button{
    top:10px;
    position: relative;
   left:-25px;
}

.todo-list-back-menu-button a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    color: black;
    top:0px;
    width:180px;
    height:50px;
    white-space: nowrap;
    position: relative;
}


.add-new-task-input-area input{
    width:300px;  
    height:50px;
    margin: auto;
    position: relative;
    left:0px;
    font-size: 18px;;
}
.add-new-task-input-area textarea{
    width:300px;  
    height:150px;
    margin: auto;
    position: relative;
    left:0px;
    font-size: 18px;;
}
.header-new-task-login1{
font-size:20px;
position: relative;
top: -60px;
left:3px;
}

.header-new-task-login1 button {
    font-size: 18px;
    background-color:lightgray;
    color: black;
    width:90px;
    height:30px;
    white-space: nowrap;
    position: relative;
    left:254px;
    top:50px;
}

.header-new-task-add-menu{
    font-size:18px;
    position: relative;
    top: 10px;
    left:-22px;
    font-size: 18px;
  }
.header-new-task-add-menu button{
    width:140px;
    height:30px;
    font-size:18px;
 }
 .header-new-task-login{
    font-size: 18px;
    position: relative;
    top: 20px;
    left:260px;
}
 .header-new-task-login button{
    font-size: 18px;
    background-color:lightgray;
    color: black;
    top:-25px;
    width:85px;
    height:30px;
    white-space: nowrap;
    position: relative;
    left:6px;
}

}
       
    @media only screen and (min-width:640px) and (max-width:1023px) {
    /*tablet用のcssを記述*/
}
      
    @media screen and (min-width:1024px) {
    /*pc用のcssを記述*/
}
